# Questão 1

In [ ]:
# Processo de copiar os dados do projeto para uma pasta do container spark
# docker cp /home/rbl/Treinamento/docker-Spark/spark/input/Dados_Covid/ jupyter-spark:/home

In [12]:
# Criado uma pasta para Projeto

!hdfs dfs -mkdir -p /user/projeto/spark/covid19

In [13]:
#  Validação da criação da pasta

!hdfs dfs -ls /user/projeto/spark/

Found 2 items
drwxr-xr-x   - root supergroup          0 2021-07-08 17:56 /user/projeto/spark/Dados_Covid
drwxr-xr-x   - root supergroup          0 2021-07-11 15:33 /user/projeto/spark/covid19

In [14]:
# copiando os arquivos do projeto .csv para pasta do projeto no HDFS

!hdfs dfs -put /home/Dados_Covid/ /user/projeto/spark/

put: `/user/projeto/spark/Dados_Covid/HIST_PAINEL_COVIDBR_2020_Parte1_06jul2021.csv': File exists
put: `/user/projeto/spark/Dados_Covid/HIST_PAINEL_COVIDBR_2020_Parte2_06jul2021.csv': File exists
put: `/user/projeto/spark/Dados_Covid/HIST_PAINEL_COVIDBR_2021_Parte1_06jul2021.csv': File exists
put: `/user/projeto/spark/Dados_Covid/HIST_PAINEL_COVIDBR_2021_Parte2_06jul2021.csv': File exists

In [269]:
# Validanado se os arquivos foram copiados

!hdfs dfs -ls /user/projeto/spark/covid19/Dados_Covid/

Found 4 items
-rw-r--r--   2 root supergroup   62492959 2021-07-08 17:55 /user/projeto/spark/covid19/Dados_Covid/HIST_PAINEL_COVIDBR_2020_Parte1_06jul2021.csv
-rw-r--r--   2 root supergroup   76520681 2021-07-08 17:55 /user/projeto/spark/covid19/Dados_Covid/HIST_PAINEL_COVIDBR_2020_Parte2_06jul2021.csv
-rw-r--r--   2 root supergroup   91120916 2021-07-08 17:55 /user/projeto/spark/covid19/Dados_Covid/HIST_PAINEL_COVIDBR_2021_Parte1_06jul2021.csv
-rw-r--r--   2 root supergroup    3046774 2021-07-08 17:55 /user/projeto/spark/covid19/Dados_Covid/HIST_PAINEL_COVIDBR_2021_Parte2_06jul2021.csv

# Questão 2  - Pendente : Falta criar a partição

In [ ]:
# Criado uma tabela particionada por municipio  Validar como realizr esse procedimento pois criamos sem particionamento
# sqlContext.sql("create table dados_covid191 ( regiao  string ,estado string, coduf int ,codmun int  ,codRegiaoSaude     int  ,nomeRegiaoSaude  string  ,data    string    ,semanaEpi     int  ,populacaoTCU2019   int   ,casosAcumulado     int  ,casosNovos int ,obitosAcumulado  int   ,obitosNovos int  ,Recuperadosnovos int ,emAcompanhamentoNovos int  ,interior/metropolitana  string ) partitioned by (municipio string) row format delimited fields terminated by ',' stored as textfile location '/user/projeto/spark/covid19'")

In [1]:
# Lendo os os arquivos e criando um DataFrame com Headle utilizando o separador ";" e a ser utilizado nos processos
projeto_spark = spark.read.csv("/user/projeto/spark/covid19/Dados_Covid/",mode="overwrite", header="true", sep=";")

In [2]:
# Visualizando o conteúdi do DataFrame

projeto_spark.limit(10).toPandas()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,None,None,76,None,None,None,2020-02-25,9,210147125,0,0,0,0,None,None,None
1,Brasil,None,None,76,None,None,None,2020-02-26,9,210147125,1,1,0,0,None,None,None
2,Brasil,None,None,76,None,None,None,2020-02-27,9,210147125,1,0,0,0,None,None,None
3,Brasil,None,None,76,None,None,None,2020-02-28,9,210147125,1,0,0,0,None,None,None
4,Brasil,None,None,76,None,None,None,2020-02-29,9,210147125,2,1,0,0,None,None,None
5,Brasil,None,None,76,None,None,None,2020-03-01,10,210147125,2,0,0,0,None,None,None
6,Brasil,None,None,76,None,None,None,2020-03-02,10,210147125,2,0,0,0,None,None,None
7,Brasil,None,None,76,None,None,None,2020-03-03,10,210147125,2,0,0,0,None,None,None
8,Brasil,None,None,76,None,None,None,2020-03-04,10,210147125,3,1,0,0,None,None,None
9,Brasil,None,None,76,None,None,None,2020-03-05,10,210147125,7,4,0,0,None,None,None

In [3]:
# Visualizando o Schema da tabela

projeto_spark.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- municipio: string (nullable = true)
 |-- coduf: string (nullable = true)
 |-- codmun: string (nullable = true)
 |-- codRegiaoSaude: string (nullable = true)
 |-- nomeRegiaoSaude: string (nullable = true)
 |-- data: string (nullable = true)
 |-- semanaEpi: string (nullable = true)
 |-- populacaoTCU2019: string (nullable = true)
 |-- casosAcumulado: string (nullable = true)
 |-- casosNovos: string (nullable = true)
 |-- obitosAcumulado: string (nullable = true)
 |-- obitosNovos: string (nullable = true)
 |-- Recuperadosnovos: string (nullable = true)
 |-- emAcompanhamentoNovos: string (nullable = true)
 |-- interior/metropolitana: string (nullable = true)

In [158]:
# Executando comando de criação do DataBase com sqlContext.sql

sqlContext.sql("CREATE DATABASE projeto_spark")

DataFrame[]

In [4]:
# Visualizando os DataBase Existentes

sqlContext.sql("show databases").show()

+--------------+
|  databaseName|
+--------------+
|       default|
| projeto_spark|
|projeto_spark1|
+--------------+

In [11]:
# Executando comando para selecionar o novo BD a ser utilizado na criação da tabela do Projeto

sqlContext.sql("use projeto_spark")

DataFrame[]

In [6]:
projeto_spark.show(5)

+------+------+---------+-----+------+--------------+---------------+----------+---------+----------------+--------------+----------+---------------+-----------+----------------+---------------------+----------------------+
|regiao|estado|municipio|coduf|codmun|codRegiaoSaude|nomeRegiaoSaude|      data|semanaEpi|populacaoTCU2019|casosAcumulado|casosNovos|obitosAcumulado|obitosNovos|Recuperadosnovos|emAcompanhamentoNovos|interior/metropolitana|
+------+------+---------+-----+------+--------------+---------------+----------+---------+----------------+--------------+----------+---------------+-----------+----------------+---------------------+----------------------+
|Brasil|  null|     null|   76|  null|          null|           null|2020-02-25|        9|       210147125|             0|         0|              0|          0|            null|                 null|                  null|
|Brasil|  null|     null|   76|  null|          null|           null|2020-02-26|        9|       210147125|             1|         1|              0|          0|            null|                 null|                  null|
|Brasil|  null|     null|   76|  null|          null|           null|2020-02-27|        9|       210147125|             1|         0|              0|          0|            null|                 null|                  null|
|Brasil|  null|     null|   76|  null|          null|           null|2020-02-28|        9|       210147125|             1|         0|              0|          0|            null|                 null|                  null|
|Brasil|  null|     null|   76|  null|          null|           null|2020-02-29|        9|       210147125|             2|         1|              0|          0|            null|                 null|                  null|
+------+------+---------+-----+------+--------------+---------------+----------+---------+----------------+--------------+----------+---------------+-----------+----------------+---------------------+----------------------+
only showing top 5 rows

In [7]:
projeto_spark.write.saveAsTable("projeto_spark")

In [13]:

sqlContext.sql("show tables").show()

+-------------+--------------------+-----------+
|     database|           tableName|isTemporary|
+-------------+--------------------+-----------+
|projeto_spark|casorecuperados_v...|      false|
|projeto_spark|       dados_covid19|      false|
|projeto_spark|       projeto_spark|      false|
|projeto_spark|     projeto_spark55|      false|
+-------------+--------------------+-----------+

In [15]:
sqlContext.sql("select * from projeto_spark limit 10").toPandas()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,None,None,76,None,None,None,2021-01-01,53,210147125,7700578,24605,195411,462,6756284,748883,None
1,Brasil,None,None,76,None,None,None,2021-01-02,53,210147125,7716405,15827,195725,314,6769420,751260,None
2,Brasil,None,None,76,None,None,None,2021-01-03,1,210147125,7733746,17341,196018,293,6813008,724720,None
3,Brasil,None,None,76,None,None,None,2021-01-04,1,210147125,7753752,20006,196561,543,6875230,681961,None
4,Brasil,None,None,76,None,None,None,2021-01-05,1,210147125,7810400,56648,197732,1171,6963407,649261,None
5,Brasil,None,None,76,None,None,None,2021-01-06,1,210147125,7873830,63430,198974,1242,7036530,638326,None
6,Brasil,None,None,76,None,None,None,2021-01-07,1,210147125,7961673,87843,200498,1524,7096931,664244,None
7,Brasil,None,None,76,None,None,None,2021-01-08,1,210147125,8013708,52035,201460,962,7114474,697774,None
8,Brasil,None,None,76,None,None,None,2021-01-09,1,210147125,8075998,62290,202631,1171,7144011,729356,None
9,Brasil,None,None,76,None,None,None,2021-01-10,2,210147125,8105790,29792,203100,469,7167651,735039,None

# Questão 3

In [207]:
# Primeira visualização
# EXEC 3 Casos_Recuperados
Casos_Recuperados_DF = sqlContext.sql("select format_number(sum(Recuperadosnovos),0) as Casos_Recuperados\
                      ,format_number(sum(emAcompanhamentoNovos),0) as Em_Acompanhamento\
                       from projeto_spark where data = '2021-07-06'")

In [208]:
Casos_Recuperados_DF.show(10)

+-----------------+-----------------+
|Casos_Recuperados|Em_Acompanhamento|
+-----------------+-----------------+
|       17,262,646|        1,065,477|
+-----------------+-----------------+

In [218]:
# EXEC 3 CASO CONFIRMADOS
Casos_Confirmados_DF = spark.sql("select format_number((sum(Recuperadosnovos)+ sum(emAcompanhamentoNovos)+ (sum(obitosAcumulado))),0) as Acumulado,\
 (select format_number(sum(casosNovos),0) from projeto_spark where data = '2021-07-05') as Casos_Novos,\
  (format_number((((sum(Recuperadosnovos) + sum(emAcompanhamentoNovos) + (sum(obitosAcumulado))) *100000))/(sum(populacaoTCU2019)), 0)) as Incidencia\
  from projeto_spark where data = '2021-07-06' ")

In [219]:
Casos_Confirmados_DF.limit(10).toPandas()

    Acumulado Casos_Novos Incidencia
0  19,908,799      68,109      3,158

In [234]:
# EXEC 3 ÓBITOS CONFIRMADOS
Casos_Obtos_DF = spark.sql("select format_number(((sum(obitosAcumulado))),0) as Obitos_acumulados, \
(select format_number(sum(obitosNovos),0) from projeto_spark where data = '2021-07-05') as Obitos_novos, \
round(((sum(obitosAcumulado)) * 100) / (sum(Recuperadosnovos) + sum(emAcompanhamentoNovos) + (sum(obitosAcumulado))),2) as Letalidade, \
round(((((sum(obitosAcumulado))) * 100000)) / sum(populacaoTCU2019), 2) as Mortalidade \
from projeto_spark where data = '2021-07-06'")

In [235]:
Casos_Obtos_DF.limit(10).toPandas()

  Obitos_acumulados Obitos_novos  Letalidade  Mortalidade
0         1,580,676        2,085        7.94       250.73

# Questão 4

In [212]:
# Exec 4  Criando a tabela no HIVE
Casos_Recuperados_DF.write.saveAsTable("Casorecuperados_view1")

In [213]:
# Exec 4 Lendo dataFrame
spark.read.table("Casorecuperados_view1").show(10)

+-----------------+-----------------+
|Casos_Recuperados|Em_Acompanhamento|
+-----------------+-----------------+
|       17,262,646|        1,065,477|
+-----------------+-----------------+

In [215]:
# # Exec 4 Validando a criação da tabela no HIve
sqlContext.sql("show tables").show()

+-------------+--------------------+-----------+
|     database|           tableName|isTemporary|
+-------------+--------------------+-----------+
|projeto_spark|casorecuperados_v...|      false|
|projeto_spark|       dados_covid19|      false|
|projeto_spark|       projeto_spark|      false|
+-------------+--------------------+-----------+

# Questão 5

In [230]:
# exec 5 criar uma pasta para armazenamento da visualização 2
!hdfs dfs -mkdir -p /user/projeto/spark/exec5

In [231]:
# Validando a criação da pasta
!hdfs dfs -ls /user/projeto/spark/

Found 3 items
drwxr-xr-x   - root supergroup          0 2021-07-08 17:56 /user/projeto/spark/Dados_Covid
drwxr-xr-x   - root supergroup          0 2021-07-11 15:33 /user/projeto/spark/covid19
drwxr-xr-x   - root supergroup          0 2021-07-13 00:27 /user/projeto/spark/exec5

In [232]:
# exec 5 Salvando em parquet com compressão snappy 
# Obs: Necessario importar a lib parquet-hadoop-bundle-1.6.0.jar para formato parquet
# baixar via curl -O https://repo1.maven.org/maven2/com/twitter/parquet-hadoop-bundle/1.6.0/parquet-hadoop-bundle-1.6.0.jar
# copiar via docker cp parquet-hadoop-bundle-1.6.0.jar spark:/opt/spark/jars

Casos_Confirmados_DF.write.mode('overwrite').option("compression", "snappy").parquet("/user/projeto/spark/exec5/")

# Questão 6 - Pendente

In [236]:
# exec 6 criar uma pasta para armazenamento da visualização 3 no Kafka
!hdfs dfs -mkdir -p /user/projeto/spark/exec6

In [237]:
!hdfs dfs -ls /user/projeto/spark/exec6

In [249]:
from pyspark import SparkContext
from pyspark.streaming import StreamingContext
from time import sleep

In [250]:
conf = SparkConf().setMaster("local[*]").setAppName("Dstream Pyphon")
sc = SparkContext.getOrCreate(conf)
ssc = StreamingContext(sc,5)

In [255]:
dstream = ssc.socketTextStream("kafka",9998)
type(Casos_Obtos_DF)

pyspark.sql.dataframe.DataFrame

In [ ]:
exec6_saida = Casos_Obtos_DF.writeStream.format("parquet")\
              .option("path","/user/projeto/spark/exec6/")\
              .option("startingOffsets", "earliest")\
              .start

In [ ]:
exec6_saida.pprint()
exec6_saida.saveAsTextFiles("hdfs://namenode/user/projeto/spark/exec6")

In [ ]:
## nc -lp 9998 Validar se será possivel utilizar o Net Cat no Pyspark

In [242]:
ssc.start()
sleep(20)
ssc.stop()

-------------------------------------------
Time: 2021-07-13 00:52:15
-------------------------------------------

-------------------------------------------
Time: 2021-07-13 00:52:20
-------------------------------------------

-------------------------------------------
Time: 2021-07-13 00:52:25
-------------------------------------------

-------------------------------------------
Time: 2021-07-13 00:52:30
-------------------------------------------

In [ ]:
exec6_saida.saveAsTextFiles("hdfs://namenode/user/projeto/spark/exec6")

In [ ]:
!hdfs dfs -ls /user/projeto/spark/covid19/Dados_Covid

# Questão 7 -- Pendencia falta juntar os dados por região

In [20]:
!hdfs dfs -ls /user/hive/warehouse/projeto_spark.db/projeto_spark

Found 5 items
-rw-r--r--   2 root supergroup          0 2021-07-09 00:35 /user/hive/warehouse/projeto_spark.db/projeto_spark/_SUCCESS
-rw-r--r--   2 root supergroup    1397966 2021-07-09 00:35 /user/hive/warehouse/projeto_spark.db/projeto_spark/part-00000-6c1aa10f-10af-4bad-9487-ac6d4ac83d99-c000.snappy.parquet
-rw-r--r--   2 root supergroup    2212384 2021-07-09 00:35 /user/hive/warehouse/projeto_spark.db/projeto_spark/part-00001-6c1aa10f-10af-4bad-9487-ac6d4ac83d99-c000.snappy.parquet
-rw-r--r--   2 root supergroup    2762691 2021-07-09 00:35 /user/hive/warehouse/projeto_spark.db/projeto_spark/part-00002-6c1aa10f-10af-4bad-9487-ac6d4ac83d99-c000.snappy.parquet
-rw-r--r--   2 root supergroup    2176695 2021-07-09 00:35 /user/hive/warehouse/projeto_spark.db/projeto_spark/part-00003-6c1aa10f-10af-4bad-9487-ac6d4ac83d99-c000.snappy.parquet

In [18]:
exec7 = spark.read.parquet("/user/hive/warehouse/projeto_spark.db/projeto_spark/")

In [19]:
exec7.show(5)

+------+------+---------+-----+------+--------------+---------------+----------+---------+----------------+--------------+----------+---------------+-----------+----------------+---------------------+----------------------+
|regiao|estado|municipio|coduf|codmun|codRegiaoSaude|nomeRegiaoSaude|      data|semanaEpi|populacaoTCU2019|casosAcumulado|casosNovos|obitosAcumulado|obitosNovos|Recuperadosnovos|emAcompanhamentoNovos|interior/metropolitana|
+------+------+---------+-----+------+--------------+---------------+----------+---------+----------------+--------------+----------+---------------+-----------+----------------+---------------------+----------------------+
|Brasil|  null|     null|   76|  null|          null|           null|2021-01-01|       53|       210147125|       7700578|     24605|         195411|        462|         6756284|               748883|                  null|
|Brasil|  null|     null|   76|  null|          null|           null|2021-01-02|       53|       210147125|       7716405|     15827|         195725|        314|         6769420|               751260|                  null|
|Brasil|  null|     null|   76|  null|          null|           null|2021-01-03|        1|       210147125|       7733746|     17341|         196018|        293|         6813008|               724720|                  null|
|Brasil|  null|     null|   76|  null|          null|           null|2021-01-04|        1|       210147125|       7753752|     20006|         196561|        543|         6875230|               681961|                  null|
|Brasil|  null|     null|   76|  null|          null|           null|2021-01-05|        1|       210147125|       7810400|     56648|         197732|       1171|         6963407|               649261|                  null|
+------+------+---------+-----+------+--------------+---------------+----------+---------+----------------+--------------+----------+---------------+-----------+----------------+---------------------+----------------------+
only showing top 5 rows

In [53]:
spark.sql("select format_number((sum(Recuperadosnovos)+ sum(emAcompanhamentoNovos)+ (sum(obitosAcumulado))),0) as casos,\
          format_number(((sum(obitosAcumulado))),0) as Obitos, \
          (format_number((((sum(Recuperadosnovos) + sum(emAcompanhamentoNovos) + (sum(obitosAcumulado))) *100000))/(sum(populacaoTCU2019)), 0)) as Incidencia_100mil_hab, \
          round(((((sum(obitosAcumulado))) * 100000)) / sum(populacaoTCU2019), 2) as Mortalidade_100mil_hab, \
          max(data) as Atualizacao \
          from projeto_spark where data = '2021-07-06'").toPandas()

,casos,Obitos,Incidencia_100mil_hab,Mortalidade_100mil_hab,Atualizacao
0,"19,908,799","1,580,676","3,158",250.73,2021-07-06